- name: Create temporary HTML archive file
  tempfile:
    state: file
    suffix: ".tar.gz"
  register: html_archive

- name: Archive HTML
  command: "tar -f {{ html_archive.path }} -C {{ zuul_work_dir }}/linters -cz ."
  args:
    warn: false

- name: Fetch archive HTML
  synchronize:
    dest: "{{ zuul.executor.log_root }}/linters-html.tar.gz"
    mode: pull
    src: "{{ html_archive.path }}"
    verify_host: true
    owner: no
    group: no

- name: Create browseable HTML directory
  delegate_to: localhost
  file:
    path: "{{ zuul.executor.log_root }}/linters"
    state: directory
    mode: 0755

- name: Extract archive HTML
  delegate_to: localhost
  unarchive:
    src: "{{ zuul.executor.log_root }}/linters-html.tar.gz"
    dest: "{{ zuul.executor.log_root }}/linters"
    remote_src: true
    extra_opts:
      - "--no-same-owner"

- name: Return artifact to Zuul
  zuul_return:
    data:
      zuul:
        artifacts:
          - name: "Linters HTML"
            url: "linters/"
            metadata:
              type: linters_html
